<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Смена пароля</h3>
	</div>
	<div class="panel-body">
	<div class="alert alert-dismissible alert-success" ng-show="prf.passSuccessNotif">
				<button type="button" class="close" data-dismiss="alert">×</button> <strong>Пароль изменен!</strong>
			</div>

	<div class="alert alert-dismissible alert-danger" ng-show="prf.passErrorNotif" >
				<button type="button" class="close" data-dismiss="alert">×</button> <strong>Ошибка ввода!</strong>
			</div>
		<form class="form-horizontal" ng-submit="prf.changePass(prf.pass)">
			<fieldset class="center-block">
				<!--=====================  pass================ -->
				<div class="form-group">
					<label for="inputOldPass" class="col-xs-4 control-label">Текущий пароль</label>
					<div class="col-xs-6">
						<input type="password" class="form-control" id="inputOldPass" ng-model="prf.pass.oldPassword"></div>
				</div>
				<!--=====================  pass================ -->
				<div class="form-group">
					<label for="inputPass" class="col-xs-4 control-label">Новый пароль</label>
					<div class="col-xs-6">
						<input type="password" class="form-control" id="inputPass" ng-model="prf.pass.newPass"></div>
				</div>
				<!--===================== confirm ================ -->
				<div class="form-group">
					<label for="inputPassConfirm" class="col-xs-4 control-label">Подтверждение пароля</label>
					<div class="col-xs-6">
						<input type="password" class="form-control" id="inputPassConfirm" ng-model="prf.pass.confirmPass"></div>
				</div>

				<!--===================== Buttons================ -->
						<div class="form-group">
							<div class="col-xs-6 col-xs-offset-4">
								<button type="submit" class="btn btn-primary">Сохранить</button>
								<button type="reset" class="btn btn-default">Отмена</button>
							</div>
						</div>
			</fieldset>
		</form>
	</div>
</div>